// @include media-breakpoint-up(sm) {

//  }
@include media-breakpoint-up(md) {
  .w-md-50{
    width: 50% !important;
  }
  .h-md-50{
    height: 50% !important;
  }
  .h-md-60{
    height: 60% !important;
  }
  .position-md-absolute{
    position: absolute;
  }
  .translate-md-middle-x{
      transform: translateX(-50%);
  }
}
@include media-breakpoint-up(lg) {
  .container-lg-fluid{
    width: 100% !important;
    max-width:  max-content;
  }
 }