.card-img-top-h{
  height: 243px;
  border-radius: 16px 16px 0 0 !important;
  @include media-breakpoint-up(md){
    height: 238px;
    border-radius: 16px 0 0 16px !important;
  }
  @include media-breakpoint-up(lg){
    height: 243px;
    border-radius: 16px 16px 0 0 !important;
  }
}

.overlay-img-h{
  height: 350px;
  @include media-breakpoint-up(md){
    height: 216px;
  }
  @include media-breakpoint-up(lg){
    height: 350px;
  }
}
.card-img-h{
  height: 196px;
  @include media-breakpoint-up(md){
    height: 161px;
  }
  @include media-breakpoint-up(lg){
    height: 196px;
  }
}

.card-img-w-m{
  width: 255px;
  @include media-breakpoint-up(md){
    width: 210px;
  }
  @include media-breakpoint-up(lg){
    width: 255px;
  }
}

.card-img-circle{
  width: 96px;
  height: 96px;
}

.card-bg-content{
  max-width: 345px;
}
