.card-img-top-h{
  height: 243px;
  border-radius: 16px 16px 0 0 !important;
  @include media-breakpoint-up(md){
    height: 238px;
    border-radius: 16px 0 0 16px !important;
  }
  @include media-breakpoint-up(lg){
    height: 243px;
    border-radius: 16px 16px 0 0 !important;
  }
}